* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.btn {
    padding: 10px 67px;
    border: none;
    color: #fff;
    background-color: #535765;
    cursor: pointer;
    transition: all 0.2s linear;
}
.btn:hover,
.btn:active {
    background-color: #53576590;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
}
.toggle {
    display: none;
}

.header {
    margin-top: 24px;
    padding-bottom: 11px;

    display: flex;
    justify-content: space-between;
    align-items: end;

    border-bottom: 1px solid #ccc;
}
.header__left {
    display: flex;
    gap: 84px;
    align-items: end;
}

.header__list {
    display: flex;
    gap: 24px;
}

/* Contact */
.contact {
    margin-top: 96px;
}
.contact-title {
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #14171f;
}

.contact-main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 64px;

    max-width: 650px;
    width: 100%;
    padding: 64px 52px;

    background-color: #f5f5f5;
}
.contact-content {
    width: 187px;
}
.contact-right {
    max-width: 650px;
    width: 100%;
}
.contact-content-title {
    margin-bottom: 8px;
    color: #262524;
    font-size: 24px;
}

.contact-right iframe {
    width: 100%;
    height: 476px;
}

/* projects */

.projects {
    margin-top: 96px;
}
.projects__title {
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;

    color: #14171f;
    font-size: 32px;
    line-height: 32px;
    font-family: "Poiret One" serif;
}

.projects__cards {
    margin-top: 20px;

    display: flex;
    row-gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project__card {
    position: relative;
}

.project__img {
    width: 100%;
    height: 100%;
}

.project__btn {
    position: absolute;
    left: 12px;
    bottom: 12px;

    padding: 13px 40px;

    width: 204px;
    background-color: transparent;
    border: 1px solid #fff;

    transition: all 0.2s linear;
}

.project__btn--active,
.project__btn:hover {
    display: flex;
    justify-content: space-between;

    background-color: #fff;
    color: #14171f;
    width: calc(100% - 24px);
}
.project__btn--active::after {
    content: "->";
    font-size: 1rem;
}

/* footer */

.footer {
    margin-top: 20px;
    background-color: #f5f5f5;
    padding: 25px 20px;

    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer-list {
    display: flex;
    gap: 12px;
}
.footer-item img {
    width: 100%;
    height: 100%;
}
.footer-text {
    display: none;
}

@media only screen and (max-width: 1300px) {
    .container {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 920px) {
    .header__left {
        gap: 44px;
    }
    .header__list {
        gap: 12px;
    }
    .btn {
        padding: 10px 27px;
    }
    .contact-main {
        flex-direction: column;
    }

    .contact-left,
    .contact-right {
        width: 100%;
        max-width: none;
    }

    .contact-left {
        flex-direction: row;
        padding-bottom: 212px;
    }
}

@media only screen and (max-width: 650px) {
    .header__list {
        display: none;
    }
    .header__btn {
        display: none;
    }
    .toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;

        width: 40px;
        height: 40px;
        background-color: #535765;
    }
    .toggle span {
        display: block;

        width: 20px;
        height: 2px;
        background-color: #fff;
    }

    .contact-left {
        flex-direction: column;
    }

    .footer-logo {
        display: none;
    }
    .footer-text {
        display: block;
    }
    .footer {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
